<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Create Clothing</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Create Clothing Item</h1>
		<form action="/save">
			<div>
				<label for="text">Type</label>
				<input type="text" name="type" />
			</div>
			<div>
				<label for="text">Color</label>
				<input type="text" name="color" />
			</div>
			<div>
				<label for="text">Brand</label>
				<input type="text" name="brand" />
			</div>
			<div>
				<label for="text">Info</label>
				<input type="text" name="info" />
			</div>
			<button type="submit">Create</button>
		</form>
	</div>
</body>
</html>